<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Mongo" connectionString="mongodb://192.168.169.131:27017"  />
  </connectionStrings>
  <appSettings>
    <add key="MongoAddress" value="192.168.169.131"/>
    <add key="MongoPort" value="27017"/>
  </appSettings>
</configuration>